<div>
    
    <app-navbar-aplicacion></app-navbar-aplicacion>

    <div class="container" style="background: yellow; display: grid; place-items: center;">

        <br><br><br><br><br><br><br><br><br>

        <h1>En este apartado se va a ir mostrando el contenido de los enlaces del menú superior</h1>

        <br><br><br><br><br><br><br><br><br>

    </div>

    <div class="container" style="display: grid; place-items: center; margin-top: 50px;">

        <h1 style="text-align: center;">NOVEDADES</h1>
        <p style="text-align: center;">En el siguiente carrusel, se van a ir mostrando imágenes y noticias</p>

    </div>

    <div class="container" style="display: grid; place-items: center; margin-top: 20px;">
        <app-carousel-aplicacion></app-carousel-aplicacion>
    </div>

    <footer>
        <div class="container" style="background: yellow; display: grid; place-items: center; margin-top: 20px;">
            <div class="row p-5">

                <div class="col">
                    <a class="text-black text-decoration-none" href="">Pagina web</a>
                </div>

                <div class="col">
                    <a class="text-black text-decoration-none" href="/cambio-pass">¿Quieres cambiar tu contraseña?</a>
                </div>

                <div class="col">
                    <img src="../../../assets/LOGO CLOUDTOWN-27.png" width="100" height="100">
                </div>

                <div class="col">
                    <a class="text-black text-decoration-none" href="">Correo de atención al cliente</a>
                </div>

                <div class="col">
                    <a class="text-black text-decoration-none" href="">Teléfono de atención al cliente</a>
                </div>

            </div>
        </div>
    </footer>

</div>
