<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <img class="navbar-brand" src="../../../assets/LOGO CLOUDTOWN-27.png" width="100" height="100">

    <button class="navbar-toggler" type="button" data-toggle="collapse"aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"  style="position: absolute; left: 50%; transform: translateX(-50%);">

            <li class="nav-item active" style="font-size: x-large;">
                <button class="nav-link" href="">Ventas</button>
            </li>

            <li class="nav-item active" style="font-size: x-large;">
                <button class="nav-link" href="">Ganancias</button>
            </li>

            <li class="nav-item active" style="font-size: x-large;">
                <button class="nav-link" href="">Compras</button>
            </li>

            <li class="nav-item active" style="font-size: x-large;">
                <button class="nav-link" href="">Valoraciones</button>
            </li>

            <button (click)="irHome()" class="nav-item btn btn-outline-success my-2 my-lg-0" style="margin-left: 125%;">Salir</button>

        </ul>

    </div>
    
</nav>
